<div id="aboutme">
  {% if AVATAR %}
  <p>
    <img width="100%" class="img-thumbnail" src="{{ SITEURL }}/{{ AVATAR }}" />
  </p>
  {% endif %} {% if ABOUT_ME %}
  <!-- <div class="bio no-hyphen well well-sm">
    <p class="author well well-sm">Dr. Saad Laouadi</p>
    <hr />
    <h4><strong>Founder of Quant-Coding Versity</strong></h4>
    <p>
      Dr. Saad Laouadi is a highly accomplished data scientist, programmer, and
      economist with a Ph.D. in Economics. He is an expert in the field of
      machine learning and has extensive experience using programming languages
      such as Python, R, SAS, Matlab, and C++.
    </p>
    <p>
      Dr. Laouadi is also a highly skilled educator, having taught courses on
      data science, machine learning, and programming to numerous students
      around the world. He is known for his ability to clearly explain complex
      concepts and make them accessible to students of all levels.
    </p>
    <p>
      Overall, Dr. Saad Laouadi is a respected leader in the field of data
      science and machine learning, with a wealth of knowledge and experience to
      share.
    </p>
  </div> -->
  <div class="card custom-bio-card">
    <div class="card-body">
      <h5 class="card-title author">Dr. Saad Laouadi</h5>
      <h4 class="card-subtitle mb-2 light-teal" style="font-family: 'Snell Roundhand', 'cursive';text-align:center"><strong>Data Whisperer, Code Slinger, Knowledge Enthusiast</strong></h4>
      <hr />
      
      <div class="text-ff-ddot">
      <p>
        With a PhD in Economics and a fervent passion for programming, I, Dr. Saad Laouadi, have crafted a unique niche in the realm of data science. My academic roots in economics fuel my approach to data analysis, enabling me to unravel the stories behind numbers and economic patterns.
      </p>
<p>
        Beyond economics, my curiosity led me to master various programming languages, including Python, Rust, Julia, R, and C++. My expertise lies in turning complex data into meaningful insights and innovative strategies.

      </p>
      <p>
        As a data scientist and software developer, I revel in the challenges of creating tools that enhance our interaction with data. For me, the synergy of economics, data science, and technology is not just a career – it's a playground of endless possibilities and learning.
      </p>

      <p>
        In addition to my work in data science, I have a profound passion for teaching. Sharing knowledge is a joy for me, and I am dedicated to inspiring and educating others in the fields of data science and programming. My goal is to make complex concepts accessible and engaging, helping students and professionals alike to unlock their potential in this ever-evolving digital world.
      </p>
      <p>
        Driven by a thirst for knowledge and innovation, each day is a new adventure at the intersection of data, economics, and technology.
      </p>
    </div>
    </div>
  </div>
  
  {% endif %}
</div>
