{% macro cc_license_mark(cc_name, derivatives, commercial, br_after_icon=false, attr_markup=false, attr_props={}) %}
    {% if cc_name %}
        {% set cc_name = cc_name|lower|replace("cc-", "") %}
        {% set cc_title_suffix =
            cc_name|replace("by", "")|replace("-nc", "-NonCommercial")|replace("-nd", "-NoDerivatives")|replace("-sa", "-ShareAlike") %}
    {% else %}
        {% set cc_name = "by" %}
        {% set cc_title_suffix = "" %}
        {% if (not commercial) or (commercial|lower == "no") %}
            {% set cc_name = cc_name ~ "-nc" %}
            {% set cc_title_suffix = "-NonCommercial" %}
        {% endif %}
        {% if derivatives|lower == "no" %}
            {% set cc_name = cc_name ~ "-nd" %}
            {% set cc_title_suffix = cc_title_suffix ~ "-NoDerivatives" %}
        {% elif derivatives|lower == "sharealike" %}
            {% set cc_name = cc_name ~ "-sa" %}
            {% set cc_title_suffix = cc_title_suffix ~ "-ShareAlike" %}
        {% endif %}
    {% endif %}
    {% set cc_title = "Creative Commons Attribution" ~ cc_title_suffix ~ " 4.0 International License" %}
    {% set cc_uri = "https://creativecommons.org/licenses/" ~ cc_name ~ "/4.0/" %}
    {% set cc_icon = "https://licensebuttons.net/l/" ~ cc_name ~ "/4.0/80x15.png" %}

    <a  rel="license" href="{{ cc_uri }}">
    <img class="icon-image" alt="Creative Commons License" src="../images/by-sa.svg"/>
    </a>

    <!-- <a rel="license" href="{{ cc_uri }}">
        <img alt="Creative Commons License" style="border-width: 0" src="{{ cc_icon }}" />
    </a> -->
    {% if br_after_icon %}<br />{% endif %}
    {% if attr_markup %}
        "&quot;<span xmlns:dct='http://purl.org/dc/terms/' property='dct:title'>{{ attr_props['title'] }}</span>&quot; by
        <a xmlns:cc='http://creativecommons.org/ns#' href="{{ attr_props['url'] }}" property='cc:attributionName' rel='cc:attributionURL'>{{ attr_props['name'] }}</a>
        is "
    {% else %}
        {{ 'Content' }}
    {% endif %}
    {{ 'licensed under a' }}
    <a rel="license" href="{{ cc_uri }}">{{ cc_title }}</a>,
    {{ 'except where indicated otherwise' }}. {% endmacro %}
