<footer>
  <div class="row">
    <div class="col col-lg-2">test</div>
    <div class="col col-lg-5">amoor dsfd fdsgdf fdg fdg gfdg gdfg gdfg fsd</div>
    <div class="col col-lg-5">
      <ul>
        <li>
          <a href="#">link</a>
        </li>
        <li>
          <a href="#">link</a>
        </li>
        <li>
          <a href="#">link</a>
        </li>
        <li>
          <a href="#">link</a>
        </li>
        <li>
          <a href="#">link</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
